:root {
    box-sizing: border-box;
    font-size: 10px;
    --brown: rgba(0, 0, 0, 0.7);
}

*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
}

@media only screen and (max-width: 699px) {
    body {
        background-color: sandybrown;
    }
    nav {
        font-size: 1rem;
    }
    .container {
        display: grid;
        grid-template-columns: 95vw;
        grid-gap: 1vw;
        grid-template-areas: "section" "aside";
    }
    section {
        grid-area: section;
        height: 40vh;
    }
    .section__p, .section--value {
        font-size: 1.5rem;
        padding: 0.2em;
    }
    .section__h1 {
        font-size: 1.8rem;
        padding: 0.3em;
    }
    .img_level {
        width: 30vw;
    }
    aside {
        grid-area: aside;
        height: 45vh;
        grid-auto-rows: 20%;
    }
}

@media only screen and (min-width: 700px) {
    body {
        background-image: url(img/background.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-position: center;
        width: 100vw;
        height: 100vh;
    }
    nav {
        font-size: 1.5rem;
    }
    .container {
        grid-template-columns: 60vw 30vw;
        grid-gap: 1vw;
        grid-template-areas: "section aside";
        height: 85vh;
    }
    section {
        grid-area: section;
    }
    .section__p, .section--value {
        font-size: 1.7rem;
        padding: 0.3em;
    }
    .section__h1 {
        font-size: 3rem;
        padding: 0.5em;
    }
    .img_level {
        width: 200px;
    }
    aside {
        grid-area: aside;
        grid-auto-rows: 10%;
        height: 85vh;
    }
}

@media only screen and (min-width: 1200px) {
    .section__p, .section--value {
        font-size: 2.1rem;
        padding: 0.5em;
    }
    .section__h1 {
        font-size: 3rem;
        padding: 0.8em;
    }
    .img_level {
        width: 300px;
    }
}

nav {
    display: flex;
    justify-content: center;
    padding: 1.5em 1em;
}

select {
    background: #fff;
    width: 70vw;
    height: 30px;
    border: none;
    border-radius: 25px 0 0 25px;
    background-color: wheat;
}

input[type="submit"] {
    position: relative;
    border-radius: 0 25px 25px 0;
    width: 20vw;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: var(--brown);
    color: sandybrown;
    font-weight: bold;
}

input[type="submit"]:hover {
    background: lightgoldenrodyellow;
    color: var(--brown);
}

.container {
    display: grid;
    justify-content: center;
}

section {
    background-color: var(--brown);
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "parameter image";
}

.subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: parameter;
}

.section__h1 {
    color: wheat;
    text-align: center;
    text-justify: inter-word;
}

.section__p {
    color: white;
}

.section__value {
    font-weight: bold;
    color: white;
}

.subcontainer__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: image;
}

aside {
    background-color: var(--brown);
    display: grid;
    justify-items: center;
    grid-gap: 0.5vw;
    padding: 0.5em;
    overflow: auto;
    margin-bottom: 0.5em;
}

.section--value {
    font-weight: bold;
}

.locationInformation {
    background-color: wheat;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0.5em 1.8em;
}

.aside__btn {
    height: 70%;
}

